<div class="container text-center">
  <h3>Bares</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="<%= image_path("1.jpg") %>" class="img-responsive" style="width:100%" alt="Image">
      <p>+BAR</p>
    </div>
    <div class="col-sm-6">
      <div class="well">
        <p>+Bar es un bar-antro muy reconocido en la Ciudad de Dolores Hidalgo, si estas buscando un lugar donde pasar un buen rato da click abajo</p>
      </div>
      <div class="well">
        <p><a href="<%= informacion_path %>">Más Información...</a></p>
      </div>
    </div>
  </div>
</div><br>
