<div class="panel-group">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="<%= informacion_path %>">+Bar</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a href="<%= promociones_path %>">Promociones</a></li>
              <li><a href="<%= eventos_path %>">Eventos</a></li>
              <li><a href="<%= compras_path %>">Compras</a></li>

            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </div>
    <div class="col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8">
      <div class="panel panel-default">
        <div class="panel-body"><h2 align="center">
          Promociónes en +Bar
        </h2> </div>
      </div>
    </div>
    <div class="col-sm-2">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          TODOS LOS SABADOS DE OCTUBRE POMO GRATIS A CUMPLEAÑEROS

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          DAMAS NO COVER TODA LA NOCHE

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          SHOTS DE BIENVENIDA A TODOS.

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          ADEMAS SABA2 CON PROMOCION PERMANENTE QUE ES ESTA:

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          ETIQUETA ROJA $700 O 2 X$1300

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          ETIQUETA ROJA $700 O 2 X$1300

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          BACARDI BLANCO $450 O 2x800

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          SMIRNOFF $450 O 2X800

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          CENTENARIO AZUL $490 O 2X900

        </h5> </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-body"><h5 align="justify">

          CERVEZA VICTORIA $10.00 PESOS TODA LA NOCHE.....

        </h5> </div>
      </div>
    </div>
    <div class="col-sm-3">
    </div>
  </div>
</div>
