<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-body"><h2 align="center">
        Los bares de la ciudad de Dolores Hidalgo Cuna de la Independencia Nacional.
      </h2> </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-body"><h2 align="center">
        Aqui ira el mapa...
      </h2> </div>
    </div>
  </div>
  <div class="col-sm-2">
  </div>
</div>